/****** General ***********/


@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Tilt+Prism&display=swap');
* {
    font-family: 'Raleway', sans-serif;
}
/* Ajout de la police d'écriture */


/***** Header ******/

head {
    display: flex;
    justify-content: center;
}


a:hover {
    cursor : default;
}
/* Choix du curseur universel */

.top-header {
    display : flex;
    justify-content : space-between;

}
/* Ajout du css header */

#logobooki {
    height : 25px;
    width : auto;
    margin : 40px 0px 0px 0px;

}
/* Choix taille du logo Booki */

.liens-page {
    display : flex;
    flex-direction : row;
    list-style : none;
    margin : 10px 0px 0px 0px;
    font-size : 1em;
}
/* Ajout de la classe de navigation de la page hébergements et activités */

#hébergements {
    margin : 0px 70px 0px 0px;
    padding : 0px 0px 0px 0px;
}
/* Ajout de la marge entre les deux liens hébergements et activités */

.liens-page li a {
    text-decoration : none;
}
/* Retire ligne sous les liens hébergements et activités */

.liens-page li a:link {
    color : black;
}
/* Choix de la couleur des liens hébergements et activités */

.liens-page li a:visited { 
    color : black;
}
/* Choix de la couleur des liens hébergements et activités une fois cliqués */

.liens-page a:hover {
    color : #0065FC;
    border-top : 3px solid #0065FC;
    padding : 15px 0px 0px 0px;
    cursor : pointer;
}
/* Choix de la couleur des liens hébergements et activités avec souris dessus */

.bottom-header {
    margin : 15px 0px 15px 0px;
    padding : 15px 0px 15px 0px; 
}
/* Ajout espacement entre top header et bottom header */

h1 {
    font-size : 1.35em;
}
/* Choix taille de police h1 */

#heroheader {
    font-size : 1em;
}
/* Choix taille de police heroheader */ 

.formulaire {
    display : flex;
    margin : 0px 0px 20px 0px;
}
/* Mise en ligne des éléments de la barre de recherche */

#logomap {
    margin : 0px -4px 0px 0px;
    padding : 14px 13px 15px 13px;
    font-size : 15px;
    border-radius : 10px 0px 0px 10px;
    background-color : #F2F2F2;
    color : black;
}
/* Ajout background et positionnement du logo map */

#lieu {
    border-radius : 0px 0px 0px 0px;
    height : 40px;
    width : 200px;
    border: 1.5px solid #F2F2F2;
}
/* Esthétique saisie de lieu dans barre de recherche */

#barrerecherche {
    border-radius : 0px 10px 10px 0px;
    background-color : #0065FC;
    color : white;
    height : 44px;
    width : 100px;
    margin : 0px 0px 0px -4px;
    border : 0;
    outline : 0;
    cursor : pointer;
}
/* ESthétique bouton de recherche dans barre de recherche */

.filters {
    display : flex;
    flex-direction : row;
    list-style : none;
    margin : 40px 10px 30px 0px;
}
/* Disposition de la barre des filtres */

.filters a {
    text-decoration : none;
}
/* Suppression du surlignement des liens */

.filters li a:visited { 
    color : black;
}
/* mise en couleur des éléments cliqués */

.filters li a:link {
    color : black;
}
/* mise en couleur des éléments liens */

#Économique,
#Familial,
#Romantique,
#Nospépites {
    margin : 0px 15px 0px 0px;
    padding : 5px 15px 5px 15px;
    border : 2px solid #D9D9D9;
    border-radius : 20px 20px 20px 20px;
    font-size : 1em;
}
/* mise en forme des box liens des filtres */

#Économique:hover,
#Familial:hover,
#Romantique:hover,
#Nospépites:hover {
    background-color : #DEEBFF;
}
/* couleur du background lorsque souris dessus */


.filters i {
    margin : 5px 7px 5px 0px;
    color : #0065FC;
}
/* mise en forme des logos pour chaque filtre */

#Filtres {
    font-size : 1em;
    margin : 0px 10px 0px -40px;
    padding : 10px 10px 0px 0px;
    font-weight : bold; 
}
/* Esthétique du mot Filtres */

.paragraphefinal {
    display : flex;
    flex-direction : row; 
    align-items : center;
    margin : 0px 0px 30px 0px; 
}
/* Positionnement du dernier paragraphe du header */


#logoinformation {
    margin : 5px 10px 5px 0px; 
    padding : 6px 9px 6px 9px;
    font-size : 11px;
    border-radius : 50%;
    border : 2px solid #D9D9D9;
    color : #0065FC;
}
/* Esthétique du logo information */


#logementsville {
    font-size : 1em;
}
/* Esthétique de la phrase 500 logements */



/***** Main  *****/


:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}
/* Choix couleurs de bases */


body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}
/* taille du main container */

.section-title {
    margin: 0;
    font-size: 22px;
}
/* intérieur du main container */

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
/* Esthétique des cards blanches */

.card img {
    object-fit: cover;
}
/* Evite que les images ne soient étirées */

.card-title {
    font-size: 16px;
}
/* taille de la police des headers des cards */

.euro {
    font-weight: 700;
}
/* esthétique du signe euro dans les subtitle des cards */

.neutral-star {
    color: var(--main-bg-color)
}
/* couleur des étoiles grises des cards */

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}
/* disposition des cards dans hebergement et populaires */

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}
/* esthétique des sections hebergements et populaires */


/****** Hebergements ***********/
.hebergements {
    width: 65%;
}
/*taille de la section hebergements */

.hebergements-title .section-title {
    padding : 0px 0px 0px 15px;
}
/* espacement du header de la section hebergement */

.Marseille-images {
    width : 100%;
    height : 100px;
    object-fit : cover;
    border-top-left-radius: 20px;
    border-top-right-radius : 20px;
}
/* Esthétique images de cards hébergement */

.hebergement-cards {
    display : flex;
    flex-wrap : wrap;
    justify-content : space-around;
    box-sizing: border-box;
}
/* disposition flex dans hebergement */

.hebergement-cards .card {
    width : 29%;
    display: flex;
    justify-content: center;
    flex-direction : column;
    margin-top: 33px;
}
/* esthétique des cards dans hebergement */

.hebergement-cards .card-title,
.hebergement-cards .card-subtitle {
    margin : 7px 0px 7px 7px;
}
/* espacement entre les textes sous images des cards hebergement */

.hebergement-cards .card-rating {
    margin : 0px 0px 7px 7px;
}
/* espacement des ratings des cards hebergement */

#afficherplus {
    padding : 20px 0px 0px 15px;
}
/* espacement lien afficher plus */

#afficherplus a {
    text-decoration : none;
}
/* enlèvement du surlignage du lien afficher plus */

#afficherplus a:link {
    color : black;
}
/*couleur du lien afficher plus */

#afficherplus a:visited {
    color : black;
}
/*couleur du lien afficher plus lorsque cliqué */

#afficherplus a:hover {
    cursor : pointer;
}
/*couleur du lien afficher plus lorsque curseur dessus */


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
/* Fin du CSS de la section populaires */



.activités-title {
    font-size: 22px;
    margin : 50px 0px 30px 45px;
}
/* Esthétique header activités */

.all-activites-cards {
    display : flex;
    flex-direction : row;
    justify-content : space-around;
    margin : 0px 0px 100px 0px
}
/* disposition de toutes les cards dans la section activités */

#vieuxportcard {
    margin : 0px 30px 0px 45px;
}
/* disposition de la première card vieuxport */


.activités-cards {
    box-sizing: border-box;
    border-radius: 20px;
    margin : 0px 30px 0px 0px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    box-shadow : 0px 8px 30px  #D9D9D9;
    height : 470px;
    width : 100%;
}
/* esthétique de chaque card activité */

.contenu-cards-activités {
    display : flex;
    flex-direction : column;
}
/* esthétique image et texte à l'intérieur des cards activités */

.carddescription {
    margin : 20px 0px 15px 15px;
    font-size : 1em;
}
/* esthétique du h3 description de l'image dans les cards activités */

.contenu-cards-activités img {
    width : 100%;
    height : 400px;
    object-fit: cover;
    border-radius : 20px 20px 0px 0px;
}
/* esthétique de l'image dans les cards activités */


/******** Footer *****/

.footer {
    display : flex;
    justify-content : space-between;
    background-color: var(--main-bg-color);
}
/* Esthétique du conteneur footer */

.footersections {
    width : 30%;
    padding : 0px 0px 0px 30px;
}
/* Esthétique des différentes sections dans le footer */

.footerlinks a {
    text-decoration : none;
    color : black;
}
/* Esthétique des liens dans les sections du footer */

.footerlinks a:hover {
    color : black;
    cursor : pointer;
}
/* Esthétique des liens dans les sections du footer lorsque curseur dessus */

.footerlinks a:visited {
    color : black;
}
/* Esthétique des liens dans les sections du footer lorsque cliqués */


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}