/****** General ***********/


@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Tilt+Prism&display=swap');
* {
    font-family: 'Raleway', sans-serif;
}


 /* Ajout de bordures pour m'aider avec les marges, à supprimer ensuite */
.top-header {
    display : flex;
    justify-content : space-between;
}
/* Ajout du css header */
#logobooki {
    height : 25px;
    width : auto;
    margin : 40px 0px 0px 0px;

}
.liens-page {
    display : flex;
    flex-direction : row;
    list-style : none;
    margin : 20px 0px 0px 0px;
}
/* Ajout de la classe de navigation de la page hébergements et activités */
#hébergements {
    margin : 0px 70px 0px 0px;
    padding : 0px 0px 0px 0px;
}
/* Ajout de la marge entre les deux liens hébergements et activités */
.liens-page li a {
    text-decoration : none;
}
/* Retire ligne sous les liens hébergements et activités */
.liens-page li a:link {
    color : black;
}
/* Choix de la couleur des liens hébergements et activités */
.liens-page li a:visited { 
    color : black;
}
/* Choix de la couleur des liens hébergements et activités une fois cliqués */
.liens-page li a:hover {
    color : #0065FC;
    border-top : 3px solid #0065FC;
    padding : 13px 0px 0px 0px;
}
/* Choix de la couleur des liens hébergements et activités avec souris dessus */

.formulaire {
    display : flex;
    margin : 0px 0px 20px 0px;
}
/* Mise en ligne des éléments de la barre de recherche */

#logomap {
    border-radius : 10px 0px 0px 10px;
    background-color : #F2F2F2;
    height : 14px;
    width : 12px;
    margin : 0px -5px -12px 0px;
    padding : 10px 10px 10px 10px;
}
/* Ajout background et positionnement du logo map */
#lieu {
    border-radius : 0px 0px 0px 0px;
    height : 30px;
    width : 200px;
    border: 1.5px solid #F2F2F2;
    
}

#barrerecherche {
    border-radius : 0px 10px 10px 0px;
    background-color : #0065FC;
    color : white;
    height : 34px;
    width : 100px;
    margin : 0px 0px 0px -4px;
    border : 0;
    outline : 0;

}


:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}